#btn-menu{
    opacity: 0.9;
    text-align: left;
    position: fixed
}
#jumbo{
    background: url('img/ciclo-de-seminarios-capa.jpg') center #131313; 
    height: 470px;
    width:100%;
    background-repeat: no-repeat;
}
#tamanhomedio{
    width: 80%;
    margin-left: 40px;
}
.card-pal{
    border: 0px !important;
}

#jumbed{
    background: #031440;
    text-align: center;
    color: white;
    height: 290px;
}
#resumo{
    background-color: white;
    font-style: italic;
    font-weight: bold;
}
#quantitativos{
    background-color: #e6e6e6b0;
}
footer{
    background-color: #031440;
    color: white;
    text-align: center;
    font-size: 30px;
    height: 200px;
    padding-top: 70px
}

/* página de listas/edições/palestras */

#imglista{
    width: 160px;
    height: 200px;
    margin-left: 10px
    
}

.titulo-pagina{
    text-align: center
}

#palestranteinfo{
    text-align: center;
}

#palestrantefoto{
    width: 200px;
    margin-left: 70px;
}

#palestrantebio{
    box-sizing: inherit;
}

.jumbotron{
    background-color: white;
}

.card-body{
    line-height: 100%;
}

.nav-link{
    padding:.1rem;
}

.card-title{
    font-size:25px;
    margin-bottom: .75rem;
    margin-left: 2.0rem !important;
}

.pal{
     color: #031440;
}

.container{
    margin-bottom: 10px;
}

.card-edicoes{
    font-size: 25px;
    margin-bottom: .20rem;
    margin-left: 4.5rem !important;
}

